<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
</head>
<body>
<div th:fragment="correct-result">
    <div class="col-md-offset-1 col-md-10">
        <div class="panel panel-info group-table">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th class="text-cursor text-center">Nazwa grupy</th>
                    <th class="text-cursor text-center">Opcje</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="group : ${groups}">
                    <td class="text-center"><a th:attr="data-id=${group.id}" th:text="${group.name}" class="open-info-group-button button-cursor"></a></td>
                    <td class="text-center" th:if="${group.access}" ><a th:attr="data-id=${group.id}" class="open-group-button button-cursor">Wejdź</a></td>
                    <td class="text-center" th:if="${!group.access}" ><a th:attr="data-id=${group.id}" class="join-group-button button-cursor" data-toggle="modal" data-target="#joinGroupModal">Dołącz</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


<div th:fragment="not-found-result" class="panel panel-default">
   Brak wyników wyszukiwania
</div>
</body>
</html>

