<!DOCTYPE html>
<html  xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Virtual Deanery</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="/css/administrator/main.css" type="text/css"/>
    <link rel="stylesheet" href="/css/font-awesome.min.css" type="text/css"/>
    <script src="/js/jquery-3.2.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/administrator/script.js"></script>
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarSupportedContent" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand white-font-colour" href="/admin">Virtual Deanery</a>
        </div>
        <div class="navbar-collapse collapse"  id="navbarSupportedContent">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Użytkownicy <span class="caret"></span></a>
                    <ul class="dropdown-menu nav-selector">
                        <li><a href="/admin/users">Przeglądaj</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="/admin/user">Dodaj</a></li>
                    </ul>
                </li>
                <li><a href="/admin/groups">Grupy</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Pliki <span class="caret"></span></a>
                    <ul class="dropdown-menu nav-selector">
                        <li><a href="/admin/files">Akceptacja plików</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="/admin/files/form">Wzory/pisma</a></li>
                        <li><a href="/admin/files/archive">Archiwum</a></li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span th:text="${#httpServletRequest.session.getAttribute('logged-user-login') +' '}"></span><span class="caret"></span></a>
                    <ul class="dropdown-menu nav-selector">
                        <li><a href="/admin/account">Konto użytkownika</a></li>
                        <li><a href="/admin/mail">Skrzynka odbiorcza</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="/logout">Wyloguj się</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

    <div class="container">
        <legend>
            Zmień hasło
            <button style="margin-left: 5px; margin-bottom: 5px;" type="button" class=" back-account-button btn btn-default"><span class="glyphicon glyphicon-triangle-left" aria-hidden="true"></span></button>
        </legend>
        <div id="success-edit-password-popup" class="alert alert-success hide" role="alert">
            Udało się zmienić hasło
        </div>
        <div id="bad-password-matches-popup" class="alert alert-danger hide" role="alert">
            Nie udało się zmienić hasła - podane hasło nie pasuje z hasłem w systemie
        </div>
        <div id="bad-validation-popup" class="alert alert-danger hide" role="alert">
            Nie udało się zmienić hasła
        </div>
        <div id="bad-new-passwords-matches-popup" class="alert alert-danger hide" role="alert">
            Nowe hasła nie są identyczne
        </div>

        <div class="col-md-offset-2 col-md-7">
            <form class="form-horizontal" id="change-password-form" >
                <div class="form-group">
                    <label for="old-password-input" class="col-sm-3 control-label">Stare hasło</label>
                    <div class="col-sm-8">
                        <input minlength="5" type="text" name="oldPassword" class="form-control" id="old-password-input" th:required="required"/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="new-password-input" class="col-sm-3 control-label">Nowe hasło</label>
                    <div class="col-sm-8">
                        <input minlength="5" type="password" name="newPassword" class="form-control" id="new-password-input" th:required="required"/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="repeat-new-password-input" class="col-sm-3 control-label">Potwórz nowe hasło</label>
                    <div class="col-sm-8">
                        <input minlength="5" type="password" name="repeatNewPassword" class="form-control" id="repeat-new-password-input" th:required="required"/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-8">
                        <button type="submit" class="btn btn-default">Zmień</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>
</html>