<!DOCTYPE html>
<html  xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Virtual Deanery</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="/css/employee/main.css" type="text/css"/>

    <script src="/js/jquery-3.2.1.min.js"></script>
    <script src="/js/moment.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/employee/script.js"></script>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarSupportedContent" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/home">Virtual Deanery</a>
        </div>
        <div class="navbar-collapse collapse"  id="navbarSupportedContent">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/home/users">Użytkownicy</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Grupy <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/home/groups">Wszystkie grupy</a></li>
                        <li><a href="/home/groups/user">Twoje grupy</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="/home/group">Utwórz grupę</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Terminarz <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/home/timetable/events">Terminarz</a></li>
                        <li><a href="/home/timetable/events/user">Twoje terminy</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="/home/timetable/event">Dodaj termin</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Pliki <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/home/files/form">Wzory/pisma</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="/home/files/archive">Archiwum</a></li>
                    </ul>
                </li>

                <li th:attr="data-id=${#httpServletRequest.session.getAttribute('logged-user-id')}" class="dropdown">
                    <a class="dropdown-toggle"  data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span th:text="${#httpServletRequest.session.getAttribute('logged-user-login') +' '}"></span><span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/home/account">Konto użytkownika</a></li>
                        <li><a href="/home/mail">Skrzynka odbiorcza</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="/logout">Wyloguj się</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <div id="success-remove-group-popup" class="alert alert-success hide" role="alert">
        Usunąłeś grupę
    </div>

    <div id="success-leave-group-popup" class="alert alert-success hide" role="alert">
       Opuściłeś grupę
    </div>

    <div id="success-join-group-popup" class="alert alert-success hide" role="alert">
        Dołączyłeś do grupy
    </div>

    <div id="error-join-group-popup" class="alert alert-danger hide" role="alert">
        Nie udało się dołączyć do grupy
    </div>

    <div id="error-search-group-popup" class="alert alert-danger hide" role="alert">
        Nie znaleziono grupy
    </div>

    <div class="row">
        <div class="col-md-offset-2 col-md-8">
            <form id="search-groups-form">
                <div class="input-group">
                    <span class="input-group-addon" id="sizing-addon2"><i class="glyphicon glyphicon-search"></i></span>
                    <input id="search-text-input" minlength="3" type="text" class="form-control" placeholder="Szukaj użytkowników" aria-describedby="sizing-addon" th:required="required"/>
                    <div class="input-group-btn">
                        <button type="submit"  class="btn btn-default">Szukaj</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div id="search-groups-container"></div>

    <div class="col-md-offset-1 col-md-10">
        <div class="panel panel-info group-table">
            <div class="panel-heading">Grupy w systemie</div>
            <table class="table table-hover">
                <thead>
                <tr>
                    <th class="text-cursor text-center">Nazwa grupy</th>
                    <th class="text-cursor text-center">Opcje</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="group : ${groups}">
                    <td class="text-center"><a th:attr="data-id=${group.id}" th:text="${group.name}" class="button-cursor open-info-group-button"></a></td>
                    <td class="text-center" th:if="${group.access}" ><a th:attr="data-id=${group.id}" class="open-group-button button-cursor">Wejdź</a></td>
                    <td class="text-center" th:if="${!group.access}" ><a th:attr="data-id=${group.id}" class="join-group-button button-cursor" data-toggle="modal" data-target="#joinGroupModal">Dołącz</a></td>
                </tr>
                </tbody>
            </table>
            <nav aria-label="...">
                <ul class="pager">
                    <li><a class="pagination-button pagination-groups-button" th:attr="data-page=${previousPage}" th:classappend="${blockPreviousPage == true}?disabled" >Poprzednie</a></li>
                    <li><a class="pagination-button pagination-groups-button" th:attr="data-page=${nextPage}" th:classappend="${blockNextPage == true}?disabled" >Następne</a></li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="modal fade" id="groupInformationModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Informacje o grupie</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <label class="col-md-3" for="group-name">Nazwa grupy :</label>
                        <div class="col-md-9" id="group-name"></div>
                    </div>
                    <div class="row" style="margin-top:10px;">
                        <label class="col-md-12" for="group-desc">Opis grupy :</label>
                    </div>
                    <div class="row">
                        <textarea class="group-desc-info col-md-offset-1 col-md-10" rows="4" id="group-desc" th:readonly="true"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Zamknij</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="joinGroupModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Dołączanie do grupy</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="group-password-input" class="col-md-offset-2 col-md-4 control-label">Podaj wymagane hasło</label>
                        <div class="col-md-5">
                            <input type="password" minlength="5" id="group-password-input" placeholder="Hasło grupy" th:required="required" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="accept-join-group-button" type="button" class="btn btn-primary">Dołącz</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Anuluj</button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>