<!DOCTYPE html>
<html  xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Virtual Deanery</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="/css/employee/main.css" type="text/css"/>
    <link rel="stylesheet" href="/css/employee/chat/chat-theme.css" type="text/css"/>

    <script src="/js/jquery-3.2.1.min.js"></script>
    <script src="/js/moment.js"></script>
    <script src="/js/sockjs.min.js"></script>
    <script src="/js/stomp.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/employee/script.js"></script>
    <script type="text/javascript" src="/js/employee/chat/chat.js"></script>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarSupportedContent" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/home">Virtual Deanery</a>
        </div>
        <div class="navbar-collapse collapse"  id="navbarSupportedContent">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/home/users">Użytkownicy</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Grupy <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/home/groups">Wszystkie grupy</a></li>
                        <li><a href="/home/groups/user">Twoje grupy</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="/home/group">Utwórz grupę</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Terminarz <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/home/timetable/events">Terminarz</a></li>
                        <li><a href="/home/timetable/events/user">Twoje terminy</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="/home/timetable/event">Dodaj termin</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Pliki <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/home/files/form">Wzory/pisma</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="/home/files/archive">Archiwum</a></li>
                    </ul>
                </li>

                <li th:attr="data-id=${#httpServletRequest.session.getAttribute('logged-user-id')}" class="dropdown">
                    <a class="dropdown-toggle"  data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span th:text="${#httpServletRequest.session.getAttribute('logged-user-login') +' '}"></span><span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/home/account">Konto użytkownika</a></li>
                        <li><a href="/home/mail">Skrzynka odbiorcza</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="/logout">Wyloguj się</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <legend>
        Grupa
        <button style="margin-left: 5px; margin-bottom: 5px;" type="button" class="back-groups-button btn btn-default"><span class="glyphicon glyphicon-triangle-left" aria-hidden="true"></span></button>
    </legend>

    <div id="success-change-group-data-popup" class="alert alert-success hide" role="alert">
        Udało się zmienić dane grupy
    </div>

    <div id="error-change-group-data-popup" class="alert alert-danger hide" role="alert">
        Nie udało się zmienić danych grupy
    </div>
    <div id="success-change-group-password-popup" class="alert alert-success hide" role="alert">
        Udało się zmienić hasło grupy
    </div>

    <div id="error-change-group-password-popup" class="alert alert-danger hide" role="alert">
        Nie udało się zmienić hasła grupy
    </div>

    <div id="error-remove-group-popup" class="alert alert-danger hide" role="alert">
        Nie udało się usunąć grupy
    </div>

    <div id="error-remove-from-admin-group-popup" class="alert alert-danger hide" role="alert">
        Nie udało się usunąć admina
    </div>

    <div id="success-remove-admin-group-popup" class="alert alert-success hide" role="alert">
        Usunąłeś konto admina członkowi grupy
    </div>

    <div id="success-add-admin-group-popup" class="alert alert-success hide" role="alert">
        Dodałeś admina do grupy
    </div>

    <div id="error-add-as-admin-group-popup" class="alert alert-danger hide" role="alert">
        Nie udało się dodać admina
    </div>

    <div id="error-delete-from-group-popup" class="alert alert-danger hide" role="alert">
        Nie udało się usunąć użytkownika z grupy
    </div>

    <div id="success-delete-from-group-popup" class="alert alert-success hide" role="alert">
       Usunąłeś użytkownika z grupy
    </div>

    <div id="error-leave-group-popup" class="alert alert-danger hide" role="alert">
        Nie udało się opuścić grupy
    </div>

    <div id="error-search-user-popup" class="alert alert-danger hide" role="alert">
        Nie udało się wyszukać danych o użytkowniku
    </div>
    <div class="row" style="margin-bottom : 10px;">
        <div class="col-md-2">
            <button class="btn btn-warning" id="leave-group-button"  data-toggle="modal" data-target="#leaveGroupModal">Opuść grupę</button>
        </div>
    </div>
    <div class="row" style="margin-bottom : 10px;">
        <div th:if="${adminAccount}" class="col-md-2">
            <div class="btn-group">
                <button type="button" id="managed-group-button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Zarządzaj <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a class="button-cursor" id="change-group-info-button" data-toggle="modal" data-target="#changeGroupDataModal" >Zmień dane grupy</a></li>
                    <li><a class="button-cursor" id="change-group-password-button"  data-toggle="modal" data-target="#changeGroupPasswordModal" >Zmień hasło</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a class="button-cursor" id="remove-group-button" data-toggle="modal" data-target="#removeGroupModal">Usuń grupę</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div th:attr="data-id=${groupId}" id="group-data-panel" class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Nazwa grupy:</h3>
                </div>
                <div th:text="${name}" id="group-name" class="panel-body"></div>
            </div>
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Opis grupy:</h3>
                </div>
                <div th:text="${description}" id="group-description" class="panel-body"></div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">Użytkownicy</h3>
            </div>
            <ul class="list-group">
                <li class="list-group-item" th:each="member : ${members}" th:if="${member.userId != loggedUserId}">
                    <div>
                        <a th:attr="data-id=${member.userId}" th:classappend="${member.adminAccess == true}?group-user-admin" class="button-cursor open-info-user-button"
                           th:text="${member.firstName + ' ' + member.lastName}" ></a>
                        <button th:if="${adminAccount and member.userId != loggedUserId}"  th:attr="data-id=${member.userId}" th:classappend="${member.adminAccess == true}?disabled" class="btn btn-warning btn-sm add-as-admin" >+</button>
                        <button th:if="${adminAccount and member.userId != loggedUserId}"  th:attr="data-id=${member.userId}" th:classappend="${member.adminAccess == false}?disabled" class="btn btn-warning btn-sm remove-from-admin" >-</button>
                        <button th:if="${adminAccount and member.userId != loggedUserId}"  th:attr="data-id=${member.userId}" class="btn btn-warning btn-sm out-from-group">Usuń</button>
                    </div>
                </li>
            </ul>
            </div>
        </div>
    </div>


    <div class="modal fade" id="leaveGroupModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Upuszczanie grupy</h4>
                </div>
                <div class="modal-body">
                    <p>Czy na pewno chcesz opuścić grupę?</p>
                    <button id="accept-leave-group-button" th:attr="data-id=${groupId}" type="button" class="btn btn-primary">Opuść
                    </button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Anuluj</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="removeGroupModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Usuwanie grupy</h4>
                </div>
                <div class="modal-body">
                    <p>Czy na pewno chcesz usunąć grupę?</p>
                    <button id="accept-remove-group-button" th:attr="data-id=${groupId}" type="button" class="btn btn-primary">Usuń
                    </button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Anuluj</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="changeGroupDataModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Edycja danych grupy</h4>
                </div>
                <div class="modal-body">
                    <form id="change-group-info-form" class="form-horizontal" >
                        <div class="form-group">
                            <label for="nameGroup" class="col-sm-2 control-label">Nowa nazwa</label>
                            <div class="col-sm-10">
                                <input type="text" th:value="${name}" minlength="5" name="name" class="form-control" id="nameGroup" th:required="required"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="descGroup" class="col-sm-2 control-label">Nowy opis</label>
                            <div class="col-sm-10">
                                <input type="text" th:value="${description}" name="description" class="form-control" id="descGroup"/>
                            </div>
                        </div>
                    </form>
                    <button id="accept-change-group-info-button" th:attr="data-id=${groupId}" type="button" class="btn btn-primary">Zmień
                    </button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Anuluj</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="changeGroupPasswordModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Edycja hasła grupy</h4>
                </div>
                <div class="modal-body">
                    <form id="change-group-password-form" class="form-horizontal" >
                        <div class="form-group">
                            <label for="oldPassword" class="col-sm-2 control-label">Stare hasło</label>
                            <div class="col-sm-10">
                                <input type="text" minlength="5" name="oldPassword" class="form-control" id="oldPassword" th:required="required" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="newPassword" class="col-sm-2 control-label">Nowe hasło</label>
                            <div class="col-sm-10">
                                <input type="password" minlength="5" name="newPassword" class="form-control" id="newPassword" th:required="required"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="repeatNewPassword" class="col-sm-2 control-label">Potwórz nowe hasło</label>
                            <div class="col-sm-10">
                                <input type="password" minlength="5" name="repeatNewPassword" class="form-control" id="repeatNewPassword" th:required="required"/>
                            </div>
                        </div>
                    </form>
                    <button id="accept-change-group-password-button" th:attr="data-id=${groupId}" type="button" class="btn btn-primary">Zmień
                    </button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Anuluj</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="userInformationModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Informacje o użytkowniku</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <label class="col-md-3" for="first-name-user">Imię :</label>
                        <div class="col-md-9" id="first-name-user"></div>
                    </div>
                    <div class="row">
                        <label class="col-md-3" for="last-name-user">Nazwisko :</label>
                        <div class="col-md-9" id="last-name-user"></div>
                    </div>
                    <div class="row">
                        <label class="col-md-3" for="email-user">Email :</label>
                        <div class="col-md-9" id="email-user"></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary send-message-button">Napisz wiadomość</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Zamknij</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-comment"></span> Chat
                </div>
                <div class="panel-body-chat">
                    <ul class="chat">

                    </ul>
                </div>
                <div class="panel-footer">
                    <div class="input-group">
                        <input id="chat-msg-input" type="text" class="form-control input-sm" placeholder="Twoja wiadomość..." />
                        <span class="input-group-btn">
                                <button th:attr="data-id=${groupId}, user-id=${loggedUserId}" class="btn btn-warning btn-sm" id="send-chat-msg-button">Wyślij</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>