<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
</head>
<body>
    <div th:fragment="correct-result" class="panel panel-info user-table">
        <table class="table table-hover user-table ">
            <thead>
            <tr>
                <th class="text-cursor">Imię</th>
                <th class="text-cursor">Nazwisko</th>
                <th class="text-cursor">Email</th>
                <th class="text-cursor">Wiadomość</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${users}" th:if="${user.id != loggedUserId}" th:classappend="${!user.enabled}?disable-user-row">
                <td class="col-md-4 text-cursor" th:text="${user.firstName}">First Name</td>
                <td class="col-md-4 text-cursor" th:text="${user.lastName}">Last Name</td>
                <td class="col-md-3 text-cursor" th:text="${user.email}">Email</td>
                <td class="col-md-1 text-center"><a th:if="${user.enabled}" th:attr="user-id=${user.id}" class="send-message-page-button button-cursor">Napisz</a></td>
            </tr>
            </tbody>
        </table>
    </div>

    <div th:fragment="not-found-result" class="panel panel-default">
        Brak wyników wyszukiwania
    </div>
</body>
</html>