a {
text-decoration:none
}

.row-heading {
    font-weight: 600;
    font-size: .9em;
}

#timetable .time-label {
    font-size: 1.2em;
    font-weight: 500;
}

#timetable .time-entry.vip-only {
background-color:#C490F5;border:1px solid #6A16B8
}

#timetable .time-entry.vip-only:hover {
background-color:#AE67F0
}


#timetable {
text-align:center;display:flex;flex-direction:row;align-items:stretch;width:100%;box-sizing:border-box
}

#timetable::after {
clear:both;content:"";display:table
}

#timetable *,#timetable *:before,#timetable *:after {
box-sizing:inherit
}

#timetable ul,#timetable li {
margin:0;padding:0;list-style-type:none
}

#timetable aside,#timetable section {
float:left
}

#timetable aside {
max-width:30%;padding:0!important;margin-top:46px;border-right:5px solid transparent; width:22%;
}

#timetable aside li {
padding:0 15px;background-color:#EFEFEF;line-height:46px
}

#timetable aside li:not(:last-of-type) {
border-bottom:1px solid #fff
}

#timetable aside .row-heading {
display:inline-block;max-width:100%;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;word-wrap:normal;text-decoration: none;
}

#timetable ul {
list-style-type:none;margin:0
}

#timetable aside li,#timetable time li {
height:46px
}

#timetable section {
flex-grow:1;padding:0!important;overflow-x:scroll;-webkit-overflow-scrolling:touch
}

#timetable section time {
white-space:nowrap;display:inline-block
}

#timetable section header {
height:46px;transform-style:preserve-3d;font-size:0
}

#timetable section header::after {
clear:both;content:"";display:table
}

#timetable section header li {
display:inline-block;font-size:1rem;overflow:visible;width:0;line-height:46px;display:inline-block;position:relative
}

#timetable section header li:not(:last-of-type) {
width:96px
}

#timetable section header li .time-label {
display:block;position:absolute;left:0
}

#timetable section header li:not(:first-of-type) .time-label {
transform:translateX(-50%)
}

#timetable section header li:last-of-type .time-label {
transform:translateX(-100%)
}

#timetable ul.room-timeline {
border-left:none;position:relative;overflow:hidden
}

#timetable ul.room-timeline li {
position:relative;background-color:#F4F4F4
}

#timetable ul.room-timeline li:nth-of-type(odd) {
background-color:#FDFDFD
}

#timetable ul.room-timeline li:first-of-type {
border-top:1px solid #E5E5E5
}

#timetable ul.room-timeline li:last-of-type {
border-bottom:1px solid #E5E5E5
}

#timetable ul.room-timeline li:not(:last-of-type) {
border-bottom:none
}

#timetable ul.room-timeline li:first-child .time-entry {
height:44px
}

#timetable ul.room-timeline li:after,#timetable ul.room-timeline li:before {
content:"";position:absolute;z-index:1;left:0;top:0;right:0;bottom:0
}

#timetable ul.room-timeline li:before {
background-image:linear-gradient(to right,#E5E5E5 1px,transparent 1px);background-size:24px auto
}

#timetable ul.room-timeline li:after {
background-image:linear-gradient(to right,#E5E5E5,#E5E5E5 1px,#F4F4F4 1px,#F4F4F4 2px,#E5E5E5 2px,#E5E5E5 3px,transparent 3px,transparent);background-size:96px auto;background-position:-2px 0
}

#timetable .time-entry {
background-color:#EC6A5E;transition:200ms background-color;height:45px;display:block;position:absolute;z-index:2;padding:0 10px;white-space:normal;overflow:hidden;color:#fff;border:1px solid #e32c1b;transform-style:preserve-3d
}

#timetable .time-entry small {
position:relative;top:50%;transform:translateY(-50%);display:block
}

#timetable .time-entry:hover {
background-color:#e74030
}

#timetable .own-time-entry {
background-color: rgb(62, 236, 50);transition:200ms background-color;height:45px;display:block;position:absolute;z-index:2;padding:0 10px;white-space:normal;overflow:hidden;color:#fff;border:1px solid rgb(110, 227, 45);transform-style:preserve-3d
}

#timetable .own-time-entry small {
position:relative;top:50%;transform:translateY(-50%);display:block
}

#timetable .own-time-entry:hover {
background-color: rgb(0, 231, 95)
}

.time-table{
    font-size: 130%;
    font-weight: bold;
}

.event{
    cursor: pointer;
}

.time-label{
    font-size: 12px;
    font-weight: bold;
}
