<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
</head>
<body>
<div th:fragment="correct-result" class="panel panel-default file-table">
    <table class="table table-hover">
        <thead>
        <tr>
            <th class="col-md-3 text-cursor text-center">Nazwa pliku</th>
            <th class="col-md-2 text-cursor text-center">Rozmiar pliku(MB)</th>
            <th class="col-md-2 text-cursor text-center">Typ rozszerzenia</th>
            <th class="col-md-1 text-cursor text-center">Pobierz</th>
            <th class="col-md-2 text-cursor text-center">Przenieś do archiwum</th>
            <th class="col-md-2 text-cursor text-center">Usuń</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="file : ${files}">
            <td class="col-md-3 text-cursor text-center" th:text="${file.fileName}"></td>
            <td class="col-md-2 text-cursor text-center" th:text="${file.fileSize}"></td>
            <td class="col-md-2 text-cursor text-center" th:text="${file.fileExtensionType}"></td>
            <td class="col-md-1 text-center"><a th:attr="data-id=${file.id}" class="download-form-file-button button-cursor" data-toggle="modal" data-target="#downloadFileModal">Pobierz plik</a></td>
            <td class="col-md-2 text-center"><a th:attr="data-id=${file.id}" class="change-form-status-file-button button-cursor" data-toggle="modal" data-target="#changeStatusFileModal">Przenieś</a></td>
            <td class="col-md-2 text-center"><a th:attr="data-id=${file.id}" class="delete-form-file-button button-cursor" data-toggle="modal" data-target="#deleteFileModal">Usuń plik</a></td>
        </tr>
        </tbody>
    </table>
</div>

<div th:fragment="not-found-result" class="panel panel-default">
    Brak wyników wyszukiwania
</div>
</body>
</html>

