<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div style="display: table; margin: 0 auto; text-align: center;">
    <div>
        <p style="text-align: center; font-size: 23px" th:text="#{application.welcome}"></p>
    </div>
    <div>
        <p style="font-weight: bold; " th:text="#{account.status.userName}"></p>
        <p th:text="${firstName} + ' '+ ${lastName}"></p>
    </div>
    <div>
        <p style="font-weight: bold; " th:text="#{account.status.login}"></p>
        <p th:text="${login}"></p>
    </div>
    <div>
        <p th:if="${!enabled}" th:text="#{account.status.disable}"> </p>
    </div>
    <div>
        <p th:if="${enabled}" th:text="#{account.status.enable}"> </p>
    </div>

    <div style="text-align: center; font-size: 20px">
        <p th:text="#{application.regards}"></p>
        <p>
            <em th:text="#{application.team}+' Virtual Deanery'"></em>
        </p>
    </div>
    </div>
</body>
</html>
