<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
<div style="display: table; margin: 0 auto; text-align: center;">
    <div>
        <p style="text-align: center; font-size: 23px" th:text="#{application.welcome}"></p>
    </div>
    <div>
        <p style="font-weight: bold; " th:text="#{account.create.success}"></p>
    </div>
    <div>
        <p style="font-weight: bold; " th:text="#{account.create.userName}"></p>
        <p th:text="${firstName} + ' '+ ${lastName}"></p>
    </div>
    <div>
        <p style="font-weight: bold; " th:text="#{account.create.login}"></p>
        <p style="color: rgba(123,236,54,0.74)" th:text="${login}"></p>
    </div>
    <div>
        <p style="font-weight: bold;" th:text="#{account.create.password}"></p>
        <p style="color: rgba(123,236,54,0.74)" th:text="${password}"></p>
    </div>

    <div style="text-align: center; font-size: 20px">
        <p th:text="#{application.regards}"></p>
        <p>
            <em th:text="#{application.team}+' Virtual Deanery'"></em>
        </p>
    </div>
</div>
</body>
</html>