<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div style="display: table; margin: 0 auto; text-align: center;">
    <div>
        <p style="text-align: center; font-size: 23px" th:text="#{application.welcome}"></p>
    </div>
    <div>
        <p style="font-weight: bold; " th:text="#{reset.password.userName}"></p>
        <p th:text="${firstName} + ' '+ ${lastName}"></p>
    </div>
    <div>
        <p style="font-weight: bold;" th:text="#{reset.password.userLogin}"></p>
        <p th:text="${login}"></p>
    </div>
    <div>
        <p style="font-weight: bold;" th:text="#{reset.password.newPassword}"></p>
        <p style="color: rgba(255,24,36,0.84);" th:text="${password}"></p>
    </div>
    <div>
        <p style="text-align: center;" th:text="#{reset.password.resetText}"></p>
    </div>
    <div style="text-align: center; font-size: 25px;">
        <a
           th:href="${'http://localhost:8080/password/reset/?token=' + token}"
           th:text="#{reset.password.resetButton}">
        </a>
    </div>


    <div style="text-align: center; font-size: 20px">
        <p th:text="#{application.regards}"></p>
        <p>
            <em th:text="#{application.team}+' Virtual Deanery'"></em>
        </p>
    </div>
</div>
</body>
</html>
