<!DOCTYPE html>
<html  xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Virtual Deanery</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="/css/administrator/main.css" type="text/css"/>
    <link rel="stylesheet" href="/css/font-awesome.min.css" type="text/css"/>
    <script src="/js/jquery-3.2.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/administrator/script.js"></script>
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarSupportedContent" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand white-font-colour" href="/admin">Virtual Deanery</a>
        </div>
        <div class="navbar-collapse collapse"  id="navbarSupportedContent">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Użytkownicy <span class="caret"></span></a>
                    <ul class="dropdown-menu nav-selector">
                        <li><a href="/admin/users">Przeglądaj</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="/admin/user">Dodaj</a></li>
                    </ul>
                </li>
                <li><a href="/admin/groups">Grupy</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Pliki <span class="caret"></span></a>
                    <ul class="dropdown-menu nav-selector">
                        <li><a href="/admin/files">Akceptacja plików</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="/admin/files/form">Wzory/pisma</a></li>
                        <li><a href="/admin/files/archive">Archiwum</a></li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span th:text="${#httpServletRequest.session.getAttribute('logged-user-login') +' '}"></span><span class="caret"></span></a>
                    <ul class="dropdown-menu nav-selector">
                        <li><a href="/admin/account">Konto użytkownika</a></li>
                        <li><a href="/admin/mail">Skrzynka odbiorcza</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="/logout">Wyloguj się</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
    <div class="container">
        <div id="success-enable-user-popup" class="alert alert-success hide" role="alert">
            Udało się odblokować użytkownika
        </div>

        <div id="success-disable-user-popup" class="alert alert-success hide" role="alert">
            Udało się zablokować użytkownika
        </div>

        <div id="error-enable-user-popup" class="alert alert-danger hide" role="alert">
            Odblokowywanie użytkownika nie powiodło się
        </div>

        <div id="error-disable-user-popup" class="alert alert-danger hide" role="alert">
            Blokowanie użytkownika nie powiodło się!
        </div>

        <div class="row add-user-row">
            <div class="col-md-offset-4 col-md-4 col-sm-offset-3 col-sm-6 col-xs-offset-2 col-xs-8">
                <button type="button" id="load-new-user-page-button" class="btn btn-primary btn-block">Dodaj nowego użytkownika</button>
            </div>
        </div>

        <div class="row">
            <div class="col-md-offset-2 col-md-8">
                <form id="search-users-form">
                <div class="input-group">
                    <span class="input-group-addon" id="sizing-addon2"><i class="glyphicon glyphicon-search"></i></span>
                    <input id="search-text-input" minlength="3" type="text" class="form-control" placeholder="Szukaj użytkowników" aria-describedby="sizing-addon" th:required="required"/>
                    <div class="input-group-btn">
                        <button type="submit"  class="btn btn-default">Szukaj</button>
                    </div>
                </div>
                </form>
            </div>
        </div>
        <div id="search-users-container"></div>
        <div class="panel panel-default user-table">
            <div class="panel-heading">Użytkownicy systemu</div>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th class="text-cursor">Imię</th>
                        <th class="text-cursor">Nazwisko</th>
                        <th class="text-cursor">Email</th>
                        <th class="text-cursor">Login</th>
                        <th class="text-cursor">Edytuj</th>
                        <th class="text-cursor">Wiadomość</th>
                        <th class="text-cursor">Zablokuj/Odblokuj</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="user : ${users}" th:if="${user.id != loggedUserId}" th:classappend="${!user.enabled}?disable-user-row">
                        <td class="col-md-2 text-cursor" th:text="${user.firstName}">First Name</td>
                        <td class="col-md-2 text-cursor" th:text="${user.lastName}">Last Name</td>
                        <td class="col-md-3 text-cursor" th:text="${user.email}">Email</td>
                        <td class="col-md-2 text-cursor" th:text="${user.login}">Login</td>
                        <td class="col-md-1"><a th:if="${user.enabled}" th:attr="user-id=${user.id}" class="edit-user-button button-cursor">  Edytuj</a></td>
                        <td class="col-md-1"><a th:if="${user.enabled}" th:attr="user-id=${user.id}" class="message-user-page-button button-cursor">Napisz</a></td>
                        <td class="col-md-1 text-center" th:if="${user.enabled}"><a th:attr="data-id=${user.id}" class="disable-user-button  button-cursor" data-toggle="modal" data-target="#disableUserModal">Zablokuj</a></td>
                        <td class="col-md-1 text-center" th:if="${!user.enabled}"><a th:attr="data-id=${user.id}" class="enable-user-button  button-cursor"  data-toggle="modal" data-target="#enableUserModal">Odblokuj</a></td>
                    </tr>
                </tbody>
            </table>
            <nav aria-label="...">
                <ul class="pager">
                    <li><a class="pagination-button pagination-users-button" th:attr="data-page=${previousPage}" th:classappend="${blockPreviousPage == true}?disabled" >Poprzednie</a></li>
                    <li><a class="pagination-button pagination-users-button" th:attr="data-page=${nextPage}" th:classappend="${blockNextPage == true}?disabled" >Następne</a></li>
                </ul>
            </nav>
            <div class="modal fade" id="disableUserModal" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">Blokowanie użytkownika</h4>
                        </div>
                        <div class="modal-body">
                            <p>Czy na pewno chcesz zablokować użytkownika ?</p>
                            <button id="accept-disable-user-button" type="button" class="btn btn-primary">Zablokuj</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Anuluj</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="enableUserModal" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">Odblokowywanie użytkownika</h4>
                        </div>
                        <div class="modal-body">
                            <p>Czy na pewno chcesz odblokować użytkownika ?</p>
                            <button id="accept-enable-user-button" type="button" class="btn btn-primary">Odblokuj</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Anuluj</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>