<!DOCTYPE html>
<html  xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Virtual Deanery</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="/css/administrator/main.css" type="text/css"/>
    <link rel="stylesheet" href="/css/font-awesome.min.css" type="text/css"/>
    <script src="/js/jquery-3.2.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/administrator/script.js"></script>
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarSupportedContent" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand white-font-colour" href="/admin">Virtual Deanery</a>
        </div>
        <div class="navbar-collapse collapse"  id="navbarSupportedContent">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Użytkownicy <span class="caret"></span></a>
                    <ul class="dropdown-menu nav-selector">
                        <li><a href="/admin/users">Przeglądaj</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="/admin/user">Dodaj</a></li>
                    </ul>
                </li>
                <li><a href="/admin/groups">Grupy</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Pliki <span class="caret"></span></a>
                    <ul class="dropdown-menu nav-selector">
                        <li><a href="/admin/files">Akceptacja plików</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="/admin/files/form">Wzory/pisma</a></li>
                        <li><a href="/admin/files/archive">Archiwum</a></li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span th:text="${#httpServletRequest.session.getAttribute('logged-user-login') +' '}"></span><span class="caret"></span></a>
                    <ul class="dropdown-menu nav-selector">
                        <li><a href="/admin/account">Konto użytkownika</a></li>
                        <li><a href="/admin/mail">Skrzynka odbiorcza</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="/logout">Wyloguj się</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

    <div class="container">
        <legend>Edycja użytkownika</legend>

        <div id="success-edit-user-popup" class="alert alert-success hide" role="alert">
            Udało się edytować dane użytkownika
        </div>

        <div id="bad-email-edit-user-popup" class="alert alert-warning hide" role="alert">
            Nie udało się edytować danych użytkownika - podany adress email już istnieje w systemie
        </div>

        <div id="edit-user-not-found-popup" class="alert alert-warning hide" role="alert">
            Nie można edytować danych - podany użytkownik nie istnieje
        </div>

        <div id="bad-login-edit-user-popup" class="alert alert-warning hide" role="alert">
            Nie udało się edytować danych użytkownika - podany login już istnieje w systemie
        </div>

        <div id="not-validate-edit-data-popup" class="alert alert-warning hide" role="alert">
            Nie udało się edytować danych użytkownika - wprowadzone dane są błędne
        </div>

        <div class="col-md-offset-2 col-md-7">
            <form class="form-horizontal" id="edit-user-form">
                <div class="form-group">
                    <label for="firstName" class="col-sm-2 control-label">Imię</label>
                    <div class="col-sm-10">
                        <input type="text" minlength="3" th:value="${user.firstName}" name="firstName" class="form-control" id="firstName" placeholder="Imię" th:required="required"/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="lastName" class="col-sm-2 control-label">Nazwisko</label>
                    <div class="col-sm-10">
                        <input type="text" minlength="3" th:value="${user.lastName}" name="lastName" class="form-control" id="lastName" placeholder="Nazwisko" th:required="required"/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="login" class="col-sm-2 control-label">Login</label>
                    <div class="col-sm-10">
                        <input type="text" minlength="3" th:value="${user.login}" name="login" class="form-control" id="login" placeholder="Login" th:required="required"/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="email" class="col-sm-2 control-label">Email</label>
                    <div class="col-sm-10">
                        <input type="email" th:value="${user.email}" name="email" class="form-control" id="email" placeholder="Email" th:required="required"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Typ konta</label>
                    <label class="checkbox-inline"><input id="admin-checkbox"  th:checked="${#lists.contains(roles,'ADMIN')}" type="checkbox" value="ADMIN" name="roles"/>Admin</label>
                    <label class="checkbox-inline"><input id="employee-checkbox" th:checked="${#lists.contains(roles,'EMPLOYEE')}" type="checkbox" value="EMPLOYEE" name="roles"/>Pracownik</label>
                    <label class="checkbox-inline hide" id="help-block-roles-error" >Nie wybrałeś żadego typu konta !</label>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-default">Edytuj</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>
</html>