<!DOCTYPE html>
<html  xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Virtual Deanery</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="/css/administrator/main.css" type="text/css"/>
    <link rel="stylesheet" href="/css/font-awesome.min.css" type="text/css"/>
    <script src="/js/jquery-3.2.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/administrator/script.js"></script>
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarSupportedContent" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand white-font-colour" href="/admin">Virtual Deanery</a>
        </div>
        <div class="navbar-collapse collapse"  id="navbarSupportedContent">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Użytkownicy <span class="caret"></span></a>
                    <ul class="dropdown-menu nav-selector">
                        <li><a href="/admin/users">Przeglądaj</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="/admin/user">Dodaj</a></li>
                    </ul>
                </li>
                <li><a href="/admin/groups">Grupy</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Pliki <span class="caret"></span></a>
                    <ul class="dropdown-menu nav-selector">
                        <li><a href="/admin/files">Akceptacja plików</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="/admin/files/form">Wzory/pisma</a></li>
                        <li><a href="/admin/files/archive">Archiwum</a></li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span th:text="${#httpServletRequest.session.getAttribute('logged-user-login') +' '}"></span><span class="caret"></span></a>
                    <ul class="dropdown-menu nav-selector">
                        <li><a href="/admin/account">Konto użytkownika</a></li>
                        <li><a href="/admin/mail">Skrzynka odbiorcza</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="/logout">Wyloguj się</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
    <div class="container">
        <div id="success-delete-group-popup" class="alert alert-success hide" role="alert">
            Udało się usunąć grupę
        </div>

        <div id="error-delete-group-popup" class="alert alert-warning hide" role="alert">
            Nie udało się usunąć grupy
        </div>

        <div class="row">
            <div class="col-md-offset-2 col-md-8">
                <form id="search-groups-form">
                    <div class="input-group">
                        <span class="input-group-addon" id="sizing-addon2"><i class="glyphicon glyphicon-search"></i></span>
                        <input id="search-text-input" minlength="3" type="text" class="form-control" placeholder="Szukaj grup" aria-describedby="sizing-addon" th:required="required"/>
                        <div class="input-group-btn">
                            <button type="submit"  class="btn btn-default">Szukaj</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div id="search-groups-container"></div>

        <div class="col-md-offset-2 col-md-8">
            <div class="panel panel-default group-table">
                <div class="panel-heading">Grupy w systemie</div>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th class="text-cursor text-center col-md-8" >Nazwa grupy</th>
                            <th class="text-cursor text-center col-md-4">Usuń</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="group : ${groups}">
                            <td class="col-md-8 text-center text-cursor" th:text="${group.name}">Name</td>
                            <td class="col-md-4 text-center text-cursor"><a th:attr="data-id=${group.id}" class="delete-group-button button-cursor" data-toggle="modal" data-target="#deleteUserModal">Usuń</a></td>
                        </tr>
                    </tbody>
                </table>
                <nav aria-label="...">
                    <ul class="pager">
                        <li><a class="pagination-button pagination-groups-button" th:attr="data-page=${previousPage}" th:classappend="${blockPreviousPage == true}?disabled" >Poprzednie</a></li>
                        <li><a class="pagination-button pagination-groups-button" th:attr="data-page=${nextPage}" th:classappend="${blockNextPage == true}?disabled" >Następne</a></li>
                    </ul>
                </nav>
                <div class="modal fade" id="deleteUserModal" tabindex="-1" role="dialog">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title">Usuwanie grupy</h4>
                            </div>
                            <div class="modal-body">
                                <p>Czy na pewno chcesz usunąć grupe z systemu ?</p>
                                <button id="accept-delete-group-button" type="button" class="btn btn-primary">Usuń</button>
                                <button type="button" class="btn btn-default" data-dismiss="modal">Anuluj</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>