<!DOCTYPE html>
<html  xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Virtual Deanery</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="/css/employee/main.css" type="text/css"/>

    <script src="/js/jquery-3.2.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/employee/script.js"></script>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarSupportedContent" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/home">Virtual Deanery</a>
        </div>
        <div class="navbar-collapse collapse"  id="navbarSupportedContent">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/home/users">Użytkownicy</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Grupy <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/home/groups">Wszystkie grupy</a></li>
                        <li><a href="/home/groups/user">Twoje grupy</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="/home/group">Utwórz grupę</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Terminarz <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/home/timetable/events">Terminarz</a></li>
                        <li><a href="/home/timetable/events/user">Twoje terminy</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="/home/timetable/event">Dodaj termin</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Pliki <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/home/files/form">Wzory/pisma</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="/home/files/archive">Archiwum</a></li>
                    </ul>
                </li>

                <li th:attr="data-id=${#httpServletRequest.session.getAttribute('logged-user-id')}" class="dropdown">
                    <a class="dropdown-toggle"  data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span th:text="${#httpServletRequest.session.getAttribute('logged-user-login') +' '}"></span><span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/home/account">Konto użytkownika</a></li>
                        <li><a href="/home/mail">Skrzynka odbiorcza</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="/logout">Wyloguj się</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <div class="row top-widgets">
        <div class="col-sm-4">
            <div class="hero-widget well well-sm" id="users-widget-button">
                <div class="icon">
                    <i class="glyphicon glyphicon-user"></i>
                </div>
                <div class="text">
                    <var class="var-widget">Użytkownicy</var>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="hero-widget well well-sm" id="groups-widget-button">
                <div class="icon">
                    <i class="glyphicon glyphicon-book"></i>
                </div>
                <div class="text">
                    <var class="var-widget">Grupy</var>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="hero-widget well well-sm" id="timetable-widget-button">
                <div class="icon">
                    <i class="glyphicon glyphicon-calendar"></i>
                </div>
                <div class="text">
                    <var class="var-widget">Terminarz</var>
                </div>
            </div>
        </div>
    </div>
    <div class="row middle-widgets">
        <div class="col-md-offset-2  col-md-4">
            <div class="hero-widget well well-sm" id="form-file-widget-button">
                <div class="icon">
                    <i class="glyphicon glyphicon-file"></i>
                </div>
                <div class="text">
                    <var class="var-widget">Wzory/Pisma</var>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="hero-widget well well-sm" id="archive-file-widget-button">
                <div class="icon">
                    <i class="glyphicon glyphicon-duplicate"></i>
                </div>
                <div class="text">
                    <var class="var-widget">Archiwum</var>
                </div>
            </div>
        </div>
    </div>
    <div class="row middle-widgets">
        <div class="col-md-offset-2 col-md-4">
            <div class="hero-widget well well-sm" id="mail-box-widget-button">
                <div class="icon">
                    <i class="glyphicon glyphicon-inbox"></i>
                </div>
                <div class="text">
                    <var class="var-widget">Skrzynka odbiorcza</var>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="hero-widget well well-sm" id="user-account-widget-button">
                <div class="icon">
                    <i class="glyphicon glyphicon-cog"></i>
                </div>
                <div class="text">
                    <var class="var-widget">Konto użytkownika</var>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>