<!DOCTYPE html>
<html  xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Virtual Deanery</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="/css/bootstrap-datetimepicker.css" type="text/css" />
    <link rel="stylesheet" href="/css/employee/main.css" type="text/css"/>

    <script src="/js/jquery-3.2.1.min.js"></script>
    <script src="/js/moment.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/bootstrap-datetimepicker.min.js"></script>
    <script type="text/javascript" src="/js/employee/edit-event.js"></script>
    <script type="text/javascript" src="/js/employee/script.js"></script>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarSupportedContent" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/home">Virtual Deanery</a>
        </div>
        <div class="navbar-collapse collapse"  id="navbarSupportedContent">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/home/users">Użytkownicy</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Grupy <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/home/groups">Wszystkie grupy</a></li>
                        <li><a href="/home/groups/user">Twoje grupy</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="/home/group">Utwórz grupę</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Terminarz <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/home/timetable/events">Terminarz</a></li>
                        <li><a href="/home/timetable/events/user">Twoje terminy</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="/home/timetable/event">Dodaj termin</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Pliki <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/home/files/form">Wzory/pisma</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="/home/files/archive">Archiwum</a></li>
                    </ul>
                </li>

                <li th:attr="data-id=${#httpServletRequest.session.getAttribute('logged-user-id')}" class="dropdown">
                    <a class="dropdown-toggle"  data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span th:text="${#httpServletRequest.session.getAttribute('logged-user-login') +' '}"></span><span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/home/account">Konto użytkownika</a></li>
                        <li><a href="/home/mail">Skrzynka odbiorcza</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="/logout">Wyloguj się</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <legend>
        Edycja zdarzenia
    </legend>
    <div id="success-edit-event-popup" class="alert alert-success hide" role="alert">
        Udało się edytować dane zdarzenia
    </div>
    <div id="error-edit-event-popup" class="alert alert-danger hide" role="alert">
        Nie udało się edytować danych zdarzenia
    </div>

    <div style="margin-top:15px;" id="event-edit-container">
        <form id="edit-event-form">
            <div class="form-group">
                <div class="col-md-12" style="margin-bottom:20px;">
                    <div class='col-md-offset-4 col-md-2' style="text-align: right">
                        <label >Data: </label>
                    </div>
                        <div class='col-md-2'>
                        <div id="event-date" th:text="${#temporals.format(event.date,'yyyy-MM-dd')}" ></div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class='col-md-offset-3 col-md-3'>
                    <div id="new-event-start-time">
                        <label for="start-event-time-input">Czas od:</label>
                        <div class="input-group date datetimepicker">
                            <input name="timeFrom" type='text'  th:value="${#temporals.format(event.timeFrom,'HH:mm')}" id="start-event-time-input" class="form-control datetimepicker" th:required="required"  />
                            <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class='col-md-3'>
                    <div id='new-event-stop-time'>
                        <label for="stop-event-time-input">Czas do:</label>
                        <div class="input-group date datetimepicker">
                            <input name="timeTo" type='text' th:value="${#temporals.format(event.timeTo,'HH:mm')}" id="stop-event-time-input" class="form-control datetimepicker" th:required="required" />
                            <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                        </div>
                    </div>
                </div>
            </div>
            <div style="margin-top:15px;" id="event-topic-container" >
                <div class="form-group">
                    <div class="col-md-offset-3 col-md-6">
                        <label for="event-topic-input">Temat: </label>
                        <input name="topic" minlength="5" th:value="${event.topic}" id="event-topic-input" type="text" class="form-control" placeholder="..." aria-describedby="basic-addon1" th:required="required"/>
                    </div>
                </div>
            </div>
            <div style="margin-top:15px;" id="event-message-container" >
                <div class="form-group">
                    <div class="col-md-offset-3 col-md-6">
                        <label for="event-message-textarea">Wiadomość: </label>
                        <textarea name="message" minlength="5" th:field="${event.message}" id="event-message-textarea" class="form-control non-resizable-textarea" placeholder="..."   rows="5" th:required="required"></textarea>
                    </div>
                </div>
            </div>
            <div style="margin-top:15px;" class='col-md-offset-4 col-md-4'>
                <button type="submit" data-toggle="modal" data-target="#editEventModal" th:attr="data-id=${event.eventId}" data-dismiss="modal" id="edit-event-button" class="btn btn-block btn-primary"> Edytuj </button>
            </div>
        </form>
    </div>


    <div class="modal fade" id="editEventModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Edycja zdarzenia</h4>
                </div>
                <div class="modal-body">
                    <p>Czy na pewno chcesz edytować zdarzenie ?</p>
                    <button id="accept-edit-event-button" type="button" class="btn btn-primary">Edytuj</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Anuluj</button>
                </div>
            </div>
        </div>
    </div>

</div>
</body>

</html>