<!DOCTYPE html>
<html  xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Virtual Deanery</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="/css/employee/main.css" type="text/css"/>
    <link rel="stylesheet" href="/css/employee/calendar/calendar-theme.css" type="text/css"/>
    <link rel="stylesheet" href="/css/employee/timetable/timetable-theme.css" type="text/css"/>

    <script src="/js/jquery-3.2.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/employee/calendar/caleandar.js"></script>
    <script type="text/javascript" src="/js/employee/timetable/timetable.js"></script>
    <script type="text/javascript" src="/js/employee/all-event.js"></script>
    <script type="text/javascript" src="/js/employee/script.js"></script>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarSupportedContent" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/home">Virtual Deanery</a>
        </div>
        <div class="navbar-collapse collapse"  id="navbarSupportedContent">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/home/users">Użytkownicy</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Grupy <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/home/groups">Wszystkie grupy</a></li>
                        <li><a href="/home/groups/user">Twoje grupy</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="/home/group">Utwórz grupę</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Terminarz <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/home/timetable/events">Terminarz</a></li>
                        <li><a href="/home/timetable/events/user">Twoje terminy</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="/home/timetable/event">Dodaj termin</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Pliki <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/home/files/form">Wzory/pisma</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="/home/files/archive">Archiwum</a></li>
                    </ul>
                </li>

                <li th:attr="data-id=${#httpServletRequest.session.getAttribute('logged-user-id')}" class="dropdown">
                    <a class="dropdown-toggle"  data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span th:text="${#httpServletRequest.session.getAttribute('logged-user-login') +' '}"></span><span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/home/account">Konto użytkownika</a></li>
                        <li><a href="/home/mail">Skrzynka odbiorcza</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="/logout">Wyloguj się</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <legend>
        Terminarz
    </legend>

    <div id="error-load-calendar" class="alert alert-danger hide" role="alert">
        Nie udało się załadować kalendarza - spróbuj ponownie za chwilę
    </div>
    <div id="error-load-timetable" class="alert alert-danger hide" role="alert">
        Nie udało się załadować terminarza - spróbuj ponownie za chwilę
    </div>
    <div id="error-load-event-information" class="alert alert-danger hide" role="alert">
        Nie udało się załadować informacji o zdarzeniu - spróbuj ponownie za chwilę
    </div>
    <div id="error-search-user-popup" class="alert alert-danger hide" role="alert">
        Nie udało się załadować informacji o użytkowniku - spróbuje ponownie za chwilę
    </div>
    <div id="success-remove-event-popup" class="alert alert-success hide" role="alert">
        Nie udało się usunąć zdarzenie
    </div>
    <div id="error-remove-event-popup" class="alert alert-danger hide" role="alert">
        Nie udało się usunać zdarzenia
    </div>
</div>
<div class="center-inner-div">
    <div id="caleandar"></div>
</div>
<div style="margin-top:25px;" id="timetable"></div>

<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel" id="eventInformationModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Informacje o wydarzeniu</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <label class="col-md-3" for="topic-event-information">Temat :</label>
                    <div class="col-md-9" id="topic-event-information"></div>
                </div>
                <div class="row">
                    <label class="col-md-3" for="user-event-information">Użytkownik :</label>
                    <div class="col-md-9" id="user-event-information"></div>
                </div>
                <div class="row">
                    <label class="col-md-3" for="date-event-information">Dzień :</label>
                    <div class="col-md-9" id="date-event-information"></div>
                </div>
                <div class="row">
                    <label class="col-md-3" for="time-start-event-information">Godzina od :</label>
                    <div class="col-md-3" id="time-start-event-information"></div>
                    <label class="col-md-3" for="time-end-event-information">Godzina do :</label>
                    <div class="col-md-3" id="time-end-event-information"></div>
                </div>
                <div class="row" style="margin-top:10px;">
                    <label class="col-md-12" for="message-event-textarea-information">Opis wydarzenia :</label>
                </div>
                <div class="row">
                    <textarea class="event-desc-info col-md-offset-1 col-md-10" id="message-event-textarea-information" rows="4" th:readonly="true"></textarea>
                </div>
            </div>
            <div class="modal-footer" id="modal-buttons-footer">
                <button type="button" id="edit-event-modal-button" class="btn btn-primary" >Edytuj</button>
                <button type="button" id="remove-event-modal-button" class="btn btn-danger" data-toggle="modal" data-target="#removeEventModal" data-dismiss="modal">Usuń</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Zamknij</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="userInformationEventModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Informacje o użytkowniku</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <label class="col-md-3" for="first-name-user">Imię :</label>
                    <div class="col-md-9" id="first-name-user"></div>
                </div>
                <div class="row">
                    <label class="col-md-3" for="last-name-user">Nazwisko :</label>
                    <div class="col-md-9" id="last-name-user"></div>
                </div>
                <div class="row">
                    <label class="col-md-3" for="email-user">Email :</label>
                    <div class="col-md-9" id="email-user"></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary send-message-button">Napisz wiadomość</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Zamknij</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="removeEventModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Usuwanie zdarzenia</h4>
            </div>
            <div class="modal-body">
                <p>Czy na pewno chcesz usunąc zdarzenie ?</p>
                <button id="accept-remove-event-button" type="button" class="btn btn-primary">Usuń</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Anuluj</button>
            </div>
        </div>
    </div>
</div>
</body>

</html>