<!DOCTYPE html>
<html  xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Virtual Deanery</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="/css/administrator/main.css" type="text/css"/>
    <link rel="stylesheet" href="/css/font-awesome.min.css" type="text/css"/>
    <script src="/js/jquery-3.2.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/administrator/script.js"></script>
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarSupportedContent" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand white-font-colour" href="/admin">Virtual Deanery</a>
        </div>
        <div class="navbar-collapse collapse"  id="navbarSupportedContent">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Użytkownicy <span class="caret"></span></a>
                    <ul class="dropdown-menu nav-selector">
                        <li><a href="/admin/users">Przeglądaj</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="/admin/user">Dodaj</a></li>
                    </ul>
                </li>
                <li><a href="/admin/groups">Grupy</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Pliki <span class="caret"></span></a>
                    <ul class="dropdown-menu nav-selector">
                        <li><a href="/admin/files">Akceptacja plików</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="/admin/files/form">Wzory/pisma</a></li>
                        <li><a href="/admin/files/archive">Archiwum</a></li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span th:text="${#httpServletRequest.session.getAttribute('logged-user-login') +' '}"></span><span class="caret"></span></a>
                    <ul class="dropdown-menu nav-selector">
                        <li><a href="/admin/account">Konto użytkownika</a></li>
                        <li><a href="/admin/mail">Skrzynka odbiorcza</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="/logout">Wyloguj się</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

    <div class="container">
        <legend>Skrzynka odbiorcza</legend>
        <div class="col-md-offset-1 col-md-10">
            <div class="panel panel-default mailbox-table">
               <div class="panel-heading text-cursor">Wiadomości</div>
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th class="col-md-3 text-cursor text-center">Imię</th>
                        <th class="col-md-3 text-cursor text-center">Nazwisko</th>
                        <th class="col-md-4 text-cursor text-center">Temat</th>
                        <th class="col-md-2 text-cursor text-center">Data</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="message : ${messages}" th:attr="message-id=${message.messageId}" th:classappend="${message.status == 'DELIVERED' }? 'bold-text' : ''" class="select-message-row button-cursor">
                        <td class="col-md-3 text-center" th:text="${message.fromFirstName}"></td>
                        <td class="col-md-3 text-center" th:text="${message.fromLastName}"></td>
                        <td class="col-md-4 text-center" th:text="${message.subject}"></td>
                        <td class="col-md-2 text-center" th:text="${#temporals.format(message.date,'yyyy-MM-dd HH:mm')}"></td>
                    </tr>
                    </tbody>
                </table>
                <nav aria-label="...">
                    <ul class="pager">
                        <li><a class="pagination-button pagination-messagebox-button" th:attr="data-page=${previousPage}" th:classappend="${blockPreviousPage == true}?disabled" >Poprzednie</a></li>
                        <li><a class="pagination-button pagination-messagebox-button" th:attr="data-page=${nextPage}" th:classappend="${blockNextPage == true}?disabled" >Następne</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</body>
</html>