<!DOCTYPE html>
<html  xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Virtual Deanery</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="/css/administrator/main.css" type="text/css"/>
    <link rel="stylesheet" href="/css/font-awesome.min.css" type="text/css"/>
    <script src="/js/jquery-3.2.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/administrator/script.js"></script>
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarSupportedContent" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand white-font-colour" href="/admin">Virtual Deanery</a>
        </div>
        <div class="navbar-collapse collapse"  id="navbarSupportedContent">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Użytkownicy <span class="caret"></span></a>
                    <ul class="dropdown-menu nav-selector">
                        <li><a href="/admin/users">Przeglądaj</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="/admin/user">Dodaj</a></li>
                    </ul>
                </li>
                <li><a href="/admin/groups">Grupy</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Pliki <span class="caret"></span></a>
                    <ul class="dropdown-menu nav-selector">
                        <li><a href="/admin/files">Akceptacja plików</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="/admin/files/form">Wzory/pisma</a></li>
                        <li><a href="/admin/files/archive">Archiwum</a></li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span th:text="${#httpServletRequest.session.getAttribute('logged-user-login') +' '}"></span><span class="caret"></span></a>
                    <ul class="dropdown-menu nav-selector">
                        <li><a href="/admin/account">Konto użytkownika</a></li>
                        <li><a href="/admin/mail">Skrzynka odbiorcza</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="/logout">Wyloguj się</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

    <div class="container">
        <legend>
            Wiadomość
            <button style="margin-left: 5px; margin-bottom: 5px;" type="button" class="back-mailbox-button btn btn-default"><span class="glyphicon glyphicon-triangle-left" aria-hidden="true"></span></button>
        </legend>
        <div class="col-md-offset-1 col-md-10">
            <div class="row">
                <label class="col-md-offset-2" for="first-name-sender">Imię:</label>
            </div>
            <div class="row">
                <div class="col-md-offset-2 col-md-8 well well-sm" id="first-name-sender" th:text="${messageContent.fromFirstName}" >...</div>
            </div>
            <div class="row">
                <label class="col-md-offset-2" for="last-name-sender">Nazwisko:</label>
            </div>
            <div class="row">
                <div class="col-md-offset-2 col-md-8 well well-sm" id="last-name-sender" th:text="${messageContent.fromLastName}" >...</div>
            </div>
            <div class="row">
                <label class="col-md-offset-2" for="message-date">Data:</label>
            </div>
            <div class="row">
                <div class="col-md-offset-2 col-md-8 well well-sm" id="message-date" th:text="${#temporals.format(messageContent.date, 'yyyy-MM-dd HH:mm')}">...</div>
            </div>
            <div class="row">
                <label class="col-md-offset-2" for="message-subject">Temat:</label>
            </div>
            <div class="row">
                <div class="col-md-offset-2 col-md-8 well well-sm" id="message-subject" th:text="${messageContent.subject}" >...</div>
            </div>
            <div class="row">
                <label for="message-content">Wiadomość:</label>
            </div>
            <div class="row">
                <div class="col-md-12 well" id="message-content">
                    <textarea class="form-control" rows="15" name="message" id="message" th:field="${messageContent.message}" placeholder="Wiadomość" th:readonly="true"></textarea>
                </div>
            </div>
            <div class="row">
                <label for="message-attachments">Załączniki:</label>
                <ul id="message-attachments">
                    <li th:each="attachment : ${messageContent.attachments}" >
                        <a class="download-attachment" th:attr="data-id=${attachment.attachmentId}" th:text="${attachment.attachmentName}"> </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>