<!DOCTYPE html>
<html  xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Virtual Deanery</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="/css/administrator/main.css" type="text/css"/>
    <link rel="stylesheet" href="/css/font-awesome.min.css" type="text/css"/>
    <script src="/js/jquery-3.2.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/administrator/script.js"></script>
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarSupportedContent" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand white-font-colour" href="/admin">Virtual Deanery</a>
        </div>
        <div class="navbar-collapse collapse"  id="navbarSupportedContent">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Użytkownicy <span class="caret"></span></a>
                    <ul class="dropdown-menu nav-selector">
                        <li><a href="/admin/users">Przeglądaj</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="/admin/user">Dodaj</a></li>
                    </ul>
                </li>
                <li><a href="/admin/groups">Grupy</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Pliki <span class="caret"></span></a>
                    <ul class="dropdown-menu nav-selector">
                        <li><a href="/admin/files">Akceptacja plików</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="/admin/files/form">Wzory/pisma</a></li>
                        <li><a href="/admin/files/archive">Archiwum</a></li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span th:text="${#httpServletRequest.session.getAttribute('logged-user-login') +' '}"></span><span class="caret"></span></a>
                    <ul class="dropdown-menu nav-selector">
                        <li><a href="/admin/account">Konto użytkownika</a></li>
                        <li><a href="/admin/mail">Skrzynka odbiorcza</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="/logout">Wyloguj się</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <legend>
        Wysyłanie wiadomości
        <button style="margin-left: 5px; margin-bottom: 5px;" type="button" class="back-users-button btn btn-default"><span class="glyphicon glyphicon-triangle-left" aria-hidden="true"></span></button>
    </legend>
    <div class="send-message-popup-container">
        <div id="success-send-message-popup" class="alert alert-success hide" role="alert">
          Wysłałeś wiadomość
        </div>
        <div id="error-send-message-popup" class="alert alert-warning hide" role="alert">
            Nie udało się wysłać wiadomości
        </div>
        <div class="row" style="margin-top: 15px;">
            <div class="col-md-offset-4 col-md-4 col-sm-offset-3 col-sm-6 col-xs-offset-2 col-xs-8">
                <button type="button" class="back-users-button btn btn-default btn-block">Powrót</button>
            </div>
        </div>
    </div>
    <div class="col-md-10 message-container">
        <div class="row">
            <label for="first-name-sender">Imię:</label>
        </div>
        <div class="row">
            <div class="col-md-8 well well-sm" id="first-name-sender" th:text="${firstName}" >...</div>
        </div>
        <div class="row">
            <label for="last-name-sender">Nazwisko:</label>
        </div>
        <div class="row">
            <div class="col-md-8 well well-sm" id="last-name-sender" th:text="${lastName}" >...</div>
        </div>
        <div class="row">
            <label for="email-sender">Email:</label>
        </div>
        <div class="row">
            <div class="col-md-8 well well-sm" id="email-sender" th:text="${email}" >...</div>
        </div>

        <form enctype="multipart/form-data"  id="send-message-form">
            <div class="row">
                <div class="form-group">
                        <label for="subject">Tytuł:</label>
                        <input type="text"  class="form-control" id="subject" name="subject" placeholder="Tytuł" th:required="true"/>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <label for="message">Wiadomość:</label>
                    <textarea class="form-control" rows="10" name="message" id="message" placeholder="Wiadomość"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <label for="message-attachment-files">Załącz pliki: </label>
                    <input id="message-attachment-files" type="file" name="attachments" th:multiple="true"/>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <ul id="message-attachment-files-list">
                    </ul>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-10">
                    <button type="submit" th:attr="user-id=${id}" class="btn btn-default" id="send-email-button">Wyślij</button>
                </div>
            </div>

        </form>
    </div>
</div>
</body>
</html>