.main-background {
    background-image: url("../images/main-background.jpg");
}

.card-container.card {
    max-width: 80%;
    padding: 40px 40px;

}

.card {
    background-color: #F7F7F7;
    padding: 20px 25px 30px;
    margin: 0 auto 25px;
    margin-top: 50px;
    border-color: rgba(1, 0, 0, 0.1);
    border-radius: 2px;
    box-shadow: 2px 2px 2px rgba(1, 0, 0, 0.3);
    border-style: groove;
    border-width: 0.6px;
}

.white-font-colour {
    color: #ffffff !important;
}

.jumbotron {
    background-color: transparent;
}

#change-password-container {
    display: none;
}

#change-password-success-alert {
    display: none;
}

#change-password-error-alert {
    display: none;
}

.incorrect-input{
    border: 2px solid #da8a8a
}