<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
    <div th:fragment="correct-result" class="panel panel-default user-table">
        <table class="table table-hover">
            <thead>
            <tr>
                <th class="text-cursor">Imię</th>
                <th class="text-cursor">Nazwisko</th>
                <th class="text-cursor">Email</th>
                <th class="text-cursor">Login</th>
                <th class="text-cursor">Edytuj</th>
                <th class="text-cursor">Wiadomość</th>
                <th class="text-cursor">Zablokuj/Odblokuj</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${users}" th:if="${user.id != loggedUserId}" th:classappend="${!user.enabled}?disable-user-row">
                <td class="col-md-2 text-cursor" th:text="${user.firstName}">First Name</td>
                <td class="col-md-2 text-cursor" th:text="${user.lastName}">Last Name</td>
                <td class="col-md-3 text-cursor" th:text="${user.email}">Email</td>
                <td class="col-md-2 text-cursor" th:text="${user.login}">Login</td>
                <td class="col-md-1"><a th:if="${user.enabled}" th:attr="user-id=${user.id}" class="edit-user-button button-cursor">  Edytuj</a></td>
                <td class="col-md-1"><a th:if="${user.enabled}" th:attr="user-id=${user.id}" class="message-user-page-button button-cursor">Napisz</a></td>
                <td class="col-md-1 text-center" th:if="${user.enabled}"><a th:attr="data-id=${user.id}" class="disable-user-search-button  button-cursor" data-toggle="modal" data-target="#disableSearchUserModal">Zablokuj</a></td>
                <td class="col-md-1 text-center" th:if="${!user.enabled}"><a th:attr="data-id=${user.id}" class="enable-user-search-button  button-cursor"  data-toggle="modal" data-target="#enableSearchUserModal">Odblokuj</a></td>
            </tr>
            </tbody>
        </table>
        <div class="modal fade" id="disableSearchUserModal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Blokowanie użytkownika</h4>
                    </div>
                    <div class="modal-body">
                        <p>Czy na pewno chcesz zablokować użytkownika ?</p>
                        <button id="accept-disable-user-search-button" type="button" class="btn btn-primary">Zablokuj</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Anuluj</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="enableSearchUserModal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Odblokowywanie użytkownika</h4>
                    </div>
                    <div class="modal-body">
                        <p>Czy na pewno chcesz odblokować użytkownika ?</p>
                        <button id="accept-enable-user-search-button" type="button" class="btn btn-primary">Odblokuj</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Anuluj</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div th:fragment="not-found-result" class="panel panel-default">
        Brak wyników wyszukiwania
    </div>
</body>
</html>