<!DOCTYPE html>
<html  xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Virtual Deanery</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="/css/administrator/main.css" type="text/css"/>
    <link rel="stylesheet" href="/css/font-awesome.min.css" type="text/css"/>
    <script src="/js/jquery-3.2.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/administrator/script.js"></script>
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarSupportedContent" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand white-font-colour" href="/admin">Virtual Deanery</a>
        </div>
        <div class="navbar-collapse collapse"  id="navbarSupportedContent">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Użytkownicy <span class="caret"></span></a>
                    <ul class="dropdown-menu nav-selector">
                        <li><a href="/admin/users">Przeglądaj</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="/admin/user">Dodaj</a></li>
                    </ul>
                </li>
                <li><a href="/admin/groups">Grupy</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Pliki <span class="caret"></span></a>
                    <ul class="dropdown-menu nav-selector">
                        <li><a href="/admin/files">Akceptacja plików</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="/admin/files/form">Wzory/pisma</a></li>
                        <li><a href="/admin/files/archive">Archiwum</a></li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span th:text="${#httpServletRequest.session.getAttribute('logged-user-login') +' '}"></span><span class="caret"></span></a>
                    <ul class="dropdown-menu nav-selector">
                        <li><a href="/admin/account">Konto użytkownika</a></li>
                        <li><a href="/admin/mail">Skrzynka odbiorcza</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="/logout">Wyloguj się</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <legend>Wzory/Pisma</legend>
    <div id="success-download-form-file-popup" class="alert alert-success hide" role="alert">
        Pobrałeś plik
    </div>
    <div id="success-upload-form-file-popup" class="alert alert-success hide" role="alert">
       Załadowałeś plik pomyślnie
    </div>
    <div id="error-upload-form-file-popup" class="alert alert-danger hide" role="alert">
        Nie udało się załadować pliku
    </div>
    <div id="error-upload-size-form-file-popup" class="alert alert-danger hide" role="alert">
        Nie udało się załadować pliku - wybrany plik jest pusty
    </div>
    <div id="error-upload-name-form-file-popup" class="alert alert-danger hide" role="alert">
        Nie udało się załadować pliku - nazwa wybranego pliku jest już w systemie
    </div>
    <div id="success-delete-form-file-popup" class="alert alert-success hide" role="alert">
        Usunąłeś plik pomyślnie
    </div>
    <div id="error-delete-form-file-popup" class="alert alert-danger hide" role="alert">
        Nie udało się usunąć pliku
    </div>
    <div id="success-change-status-form-file-popup" class="alert alert-success hide" role="alert">
        Przeniosłeś plik do archiwum
    </div>
    <div id="error-change-status-form-file-name-popup" class="alert alert-danger hide" role="alert">
        Nie udało się przenieść pliku do archiwum - plik z taką nazwą już tam istnieje
    </div>
    <div id="error-change-status-form-file-popup" class="alert alert-danger hide" role="alert">
        Nie udało się przenieść pliku do archiwum
    </div>

    <div class="row upload-button-component">
        <div class="col-md-offset-4 col-md-4 col-sm-offset-3 col-sm-6 col-xs-offset-2 col-xs-8">
            <button type="button" id="load-upload-component-button" class="btn btn-default btn-block">Załaduj plik</button>
        </div>
    </div>
    <div class="upload-component">
        <form method="POST" enctype="multipart/form-data" id="upload-form-file">
            <div class="form-group">
                <label for="upload-file-input">Wybierz plik</label>
                <input type="file" name="file" id="upload-file-input"/>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-default">Prześlij</button>
            </div>
        </form>
    </div>

    <div class="row">
        <div class="col-md-offset-2 col-md-8">
            <form id="search-form-files-form">
                <div class="input-group">
                    <span class="input-group-addon" id="sizing-addon2"><i class="glyphicon glyphicon-search"></i></span>
                    <input id="search-text-input" minlength="3" type="text" class="form-control" placeholder="Nazwa pliku" aria-describedby="sizing-addon" th:required="required"/>
                    <div class="input-group-btn">
                        <button type="submit"  class="btn btn-default">Szukaj</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div id="search-form-files-result"></div>

    <div class="panel panel-default file-table">
        <div class="panel-heading">Pliki wzór/pism w systemie</div>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th class="col-md-3 text-cursor text-center">Nazwa pliku</th>
                    <th class="col-md-2 text-cursor text-center">Rozmiar pliku(MB)</th>
                    <th class="col-md-2 text-cursor text-center">Typ rozszerzenia</th>
                    <th class="col-md-1 text-cursor text-center">Pobierz</th>
                    <th class="col-md-2 text-cursor text-center">Przenieś do archiwum</th>
                    <th class="col-md-2 text-cursor text-center">Usuń</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="file : ${files}">
                    <td class="col-md-3 text-cursor text-center" th:text="${file.fileName}"></td>
                    <td class="col-md-2 text-cursor text-center" th:text="${file.fileSize}"></td>
                    <td class="col-md-2 text-cursor text-center" th:text="${file.fileExtensionType}"></td>
                    <td class="col-md-1 text-center"><a th:attr="data-id=${file.id}" class="download-form-file-button button-cursor" data-toggle="modal" data-target="#downloadFileModal">Pobierz plik</a></td>
                    <td class="col-md-2 text-center"><a th:attr="data-id=${file.id}" class="change-form-status-file-button button-cursor" data-toggle="modal" data-target="#changeStatusFileModal">Przenieś</a></td>
                    <td class="col-md-2 text-center"><a th:attr="data-id=${file.id}" class="delete-form-file-button button-cursor" data-toggle="modal" data-target="#deleteFileModal">Usuń plik</a></td>
                </tr>
            </tbody>
        </table>
        <nav aria-label="...">
            <ul class="pager">
                <li><a class="pagination-button pagination-form-files-button" th:attr="data-page=${previousPage}" th:classappend="${blockPreviousPage == true}?disabled" >Poprzednie</a></li>
                <li><a class="pagination-button pagination-form-files-button" th:attr="data-page=${nextPage}" th:classappend="${blockNextPage == true}?disabled" >Następne</a></li>
            </ul>
        </nav>
        <div class="modal fade" id="downloadFileModal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Pobieranie pliku</h4>
                    </div>
                    <div class="modal-body">
                        <p>Czy na pewno chcesz pobrać plik ?</p>
                        <button id="accept-download-form-file-button" type="button" class="btn btn-primary">Pobierz</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Anuluj</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="deleteFileModal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Usuwanie pliku</h4>
                    </div>
                    <div class="modal-body">
                        <p>Czy na pewno chcesz usunąć plik z systemu ?</p>
                        <button id="accept-delete-form-file-button" type="button" class="btn btn-primary">Usuń</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Anuluj</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="changeStatusFileModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Przenoszenie pliku do archiwum</h4>
                </div>
                <div class="modal-body">
                    <p>Czy na pewno zamienić status pliku ?</p>
                    <button id="accept-change-form-status-file-button" type="button" class="btn btn-primary">Przenieś</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Anuluj</button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>