<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
    <div th:fragment="correct-result" class="col-md-offset-2 col-md-8">
        <div  class="panel panel-default group-table">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th class="text-cursor padding-text col-md-8" >Nazwa grupy</th>
                    <th class="text-cursor text-center col-md-4">Usuń</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="group : ${groups}">
                    <td class="col-md-8 padding-text text-cursor" th:text="${group.name}">Name</td>
                    <td class="col-md-4 text-center text-cursor"><a th:attr="data-id=${group.id}" class="delete-group-search-button button-cursor" data-toggle="modal" data-target="#deleteUserSearchModal">Usuń</a></td>
                </tr>
                </tbody>
            </table>
            <div class="modal fade" id="deleteUserSearchModal" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">Usuwanie grupy</h4>
                        </div>
                        <div class="modal-body">
                            <p>Czy na pewno chcesz usunąć grupe z systemu ?</p>
                            <button id="accept-delete-group-search-button" type="button" class="btn btn-primary">Usuń</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Anuluj</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div th:fragment="not-found-result" class="panel panel-default">
        Brak wyników wyszukiwania
    </div>

</body>
</html>

