.hero-widget {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 40px;
}

.hero-widget:hover {
    background-color: #fffcf6;
}

.hero-widget .icon {
    display: block;
    font-size: 50px;
    line-height: 50px;
    margin-bottom: 10px;
    text-align: center;
}

.hero-widget var {
    display: block;
    height: 22px;
    font-size: 22px;
    line-height: 22px;
    font-style: normal;
}

.hero-widget label {
    font-size: 19px;
}

.hero-widget .options {
    margin-top: 10px;
}

.top-widgets {
    margin-top: 80px;
}

.middle-widgets {
    margin-top: 35px;
}

.nav-selector{
    text-align: center;
}

.label-widget{
    padding-top: 15px;
    padding-bottom: 8px;
}

.var-widget{
    margin-top: 15px;
}
.dropdown-widget-selector {
    top: auto;
    left : 25%;
    font-size: 15px;
    min-width: 200px;
    text-align: center;
}

.add-user-row{
    margin-bottom: 30px;
    margin-top: 15px;
}

.user-table{
    margin-top: 20px;
}

.group-table{
    margin-top: 20px;
}

.file-table{
    margin-top: 25px;
}

.mailbox-table{
    margin-top: 20px;
}

.text-cursor{
    cursor : default;
}

.button-cursor:hover{
    cursor : pointer;
    text-decoration: none;
}

.pagination-button{
    cursor : pointer;
    text-decoration: none;
}

.pagination-button.disabled{
    pointer-events: none;
    cursor: default;
    color: #b6b6b6;
    background-color: #80808021;
}

.text-center {
    text-align: center;
}

.text-cursor .padding-text {
    padding-left : 50px;
}

.disable-user-row{
    background-color: rgba(255, 0, 13, 0.24);
}

.add-user-form{
    margin-top: 20px;
}

/* When the pattern is matched */
input[type=text]:valid {
    color: rgba(0, 128, 0, 0.76);
}

/* Unmatched */
input[type=text]:invalid {
    color: rgba(168, 0, 0, 0.8);
}

input[type=email]:valid {
    color: rgba(0, 128, 0, 0.76);
}

/* Unmatched */
input[type=email]:invalid {
    color: rgba(168, 0, 0, 0.8);
}

.invalid-string{
    color: rgba(168, 0, 0, 0.8);
}

.upload-button-component{
    margin-bottom: 30px;
    margin-top: 15px;
}

.upload-component{
    margin-bottom: 30px;
    margin-top: 15px;
    display: none;
}

.account-buttons{
    padding-top:7px;
    margin-top:20px;
    margin-bottom: 5px;
    padding-bottom: 7px;
}

.incorrect-input{
    border: 2px solid #da8a8a
}

.send-message-popup-container{
    display: none;
}

.bold-text{
    font-weight: bold;
}

.download-attachment{
    cursor: pointer;
}
