.hero-widget {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 40px;
}

.hero-widget:hover {
    cursor: pointer;
}

#users-widget-button{
    background-color: #5cb85c;
}

#users-widget-button:hover{
    background-color: rgba(92, 184, 92, 0.64);
}

#groups-widget-button{
    background-color: #b84d46;
}

#groups-widget-button:hover{
    background-color: rgba(184, 92, 89, 0.71);
}

#timetable-widget-button{
    background-color: #5e99b8;
}

#timetable-widget-button:hover{
    background-color: rgba(94, 153, 184, 0.53);
}

#form-file-widget-button{
    background-color: #b8aa60;
}

#form-file-widget-button:hover{
    background-color: rgba(184, 170, 96, 0.7);
}

#archive-file-widget-button{
    background-color: #b8795a;
}

#archive-file-widget-button:hover{
    background-color: rgba(184, 121, 90, 0.73);
}

#mail-box-widget-button{
    background-color: #b6b6b6;
}

#archive-file-widget-button:hover{
    background-color: rgba(182, 182, 182, 0.5);
}

#user-account-widget-button{
    background-color: #77b6a7;
}

#user-account-widget-button:hover{
    background-color: rgba(119, 182, 167, 0.5);
}

.hero-widget .icon {
    display: block;
    font-size: 50px;
    line-height: 50px;
    margin-bottom: 10px;
    text-align: center;
}

.hero-widget var {
    display: block;
    height: 22px;
    font-size: 22px;
    line-height: 22px;
    font-style: normal;
}

.hero-widget label {
    font-size: 19px;
}

.top-widgets {
    margin-top: 60px;
}

.middle-widgets {
    margin-top: 25px;
}

.white-font-colour {
    color: #ffffff !important;
}

.user-table{
    margin-top: 20px;
}

.group-table{
    margin-top: 20px;
}

.file-table{
    margin-top: 25px;
}

.mailbox-table{
    margin-top: 20px;
}
.text-center {
    text-align: center;
}

.text-cursor{
    cursor : default;
}

.button-cursor:hover{
    cursor : pointer;
    text-decoration: none;
}

.pagination-button{
    cursor : pointer;
    text-decoration: none;
}

.pagination-button.disabled{
    pointer-events: none;
    cursor: default;
    color: #b6b6b6;
    background-color: #80808021;
}

/* When the pattern is matched */
input[type=text]:valid {
    color: rgba(0, 128, 0, 0.76);
}

input[type=text]:valid#chat-msg-input{
    color: rgba(0, 0, 0, 0.91);
}

/* Unmatched */
input[type=text]:invalid {
    color: rgba(168, 0, 0, 0.8);
}

input[type=email]:valid {
    color: rgba(0, 128, 0, 0.76);
}

/* Unmatched */
input[type=email]:invalid {
    color: rgba(168, 0, 0, 0.8);
}

.invalid-string{
    color: rgba(168, 0, 0, 0.8);
}
.upload-button-component{
    margin-bottom: 30px;
    margin-top: 15px;
}

.upload-component{
    margin-bottom: 30px;
    margin-top: 15px;
    display: none;
}

.account-buttons{
    padding-top:7px;
    margin-top:20px;
    margin-bottom: 5px;
    padding-bottom: 7px;
}

.send-message-popup-container{
    display: none;
}

.disable-row{
    display:none;
}

.event-desc-info{
    outline: none;
    resize: none;
}

.group-desc-info{
    outline: none;
    resize: none;
}

.group-user-admin{
    color: #4cae4c;
}

.center-inner-div{
    display: table;
    margin: 0 auto
}

.non-resizable-textarea{
    resize: none;
}

#datepicker-times-container #start-event-time-input {
    text-align: center;
    cursor : pointer;
}

#datepicker-times-container #stop-event-time-input {
    text-align: center;
    cursor : pointer;
}

#datepicker-times-container input[type=text]:valid {
    color: rgba(0, 0, 0, 0.76);

}

#datepicker-times-container input[type=text]:invalid {
    color: rgba(0, 0, 0, 0.76);

}


#event-edit-container #start-event-time-input {
    text-align: center;
    cursor : pointer;

}
#event-edit-container #stop-event-time-input {
    text-align: center;
    cursor: pointer;
}

#event-edit-container input[type=text]:valid {
    color: rgba(0, 0, 0, 0.76);

}
#event-edit-container input[type=text]:invalid {
    color: rgba(0, 0, 0, 0.76);

}

.bold-text{
    font-weight: bold;
}

.download-attachment{
    cursor: pointer;
}