<!DOCTYPE html>
<html  xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Virtual Deanery</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="/css/employee/main.css" type="text/css"/>

    <script src="/js/jquery-3.2.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/employee/script.js"></script>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarSupportedContent" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/home">Virtual Deanery</a>
        </div>
        <div class="navbar-collapse collapse"  id="navbarSupportedContent">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/home/users">Użytkownicy</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Grupy <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/home/groups">Wszystkie grupy</a></li>
                        <li><a href="/home/groups/user">Twoje grupy</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="/home/group">Utwórz grupę</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Terminarz <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/home/timetable/events">Terminarz</a></li>
                        <li><a href="/home/timetable/events/user">Twoje terminy</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="/home/timetable/event">Dodaj termin</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Pliki <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/home/files/form">Wzory/pisma</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="/home/files/archive">Archiwum</a></li>
                    </ul>
                </li>

                <li th:attr="data-id=${#httpServletRequest.session.getAttribute('logged-user-id')}" class="dropdown">
                    <a class="dropdown-toggle"  data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span th:text="${#httpServletRequest.session.getAttribute('logged-user-login') +' '}"></span><span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/home/account">Konto użytkownika</a></li>
                        <li><a href="/home/mail">Skrzynka odbiorcza</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="/logout">Wyloguj się</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <legend>Archiwum</legend>
    <div id="success-download-archive-file-popup" class="alert alert-success hide" role="alert">
        Pobrałeś plik
    </div>
    <div id="success-upload-archive-file-popup" class="alert alert-success hide" role="alert">
        Załadowałeś plik do akceptacji pomyślnie
    </div>
    <div id="error-upload-archive-file-popup" class="alert alert-danger hide" role="alert">
        Nie udało się załadować pliku
    </div>
    <div id="error-upload-size-archive-file-popup" class="alert alert-danger hide" role="alert">
        Nie udało się załadować pliku - wybrany plik jest pusty
    </div>
    <div id="error-upload-name-archive-file-popup" class="alert alert-danger hide" role="alert">
        Nie udało się załadować pliku - nazwa wybranego pliku jest już w systemie
    </div>

    <div class="row upload-button-component">
        <div class="col-md-offset-4 col-md-4 col-sm-offset-3 col-sm-6 col-xs-offset-2 col-xs-8">
            <button type="button" id="load-upload-component-button" class="btn btn-default btn-block">Załaduj plik</button>
        </div>
    </div>
    <div class="upload-component">
        <form method="POST" enctype="multipart/form-data" id="upload-archive-file">
            <div class="form-group">
                <label for="upload-file-input">Wybierz plik</label>
                <input type="file" name="file" id="upload-file-input"/>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-default">Prześlij</button>
            </div>
        </form>
    </div>

    <div class="row">
        <div class="col-md-offset-2 col-md-8">
            <form id="search-archive-files-form">
                <div class="input-group">
                    <span class="input-group-addon" id="sizing-addon2"><i class="glyphicon glyphicon-search"></i></span>
                    <input id="search-text-input" minlength="3" type="text" class="form-control" placeholder="Nazwa pliku" aria-describedby="sizing-addon" th:required="required"/>
                    <div class="input-group-btn">
                        <button type="submit"  class="btn btn-default">Szukaj</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div id="search-archive-files-result"></div>

    <div class="panel panel-default file-table">
        <div class="panel-heading">Pliki archiwum w systemie</div>
        <table class="table table-hover">
            <thead>
            <tr>
                <th class="col-md-4 text-cursor text-center">Nazwa pliku</th>
                <th class="col-md-3 text-cursor text-center">Rozmiar pliku(MB)</th>
                <th class="col-md-3 text-cursor text-center">Typ rozszerzenia</th>
                <th class="col-md-2 text-cursor text-center">Pobierz</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="file : ${files}">
                <td class="col-md-4 text-cursor text-center" th:text="${file.fileName}"></td>
                <td class="col-md-3 text-cursor text-center" th:text="${file.fileSize}"></td>
                <td class="col-md-3 text-cursor text-center" th:text="${file.fileExtensionType}"></td>
                <td class="col-md-2 text-center"><a th:attr="data-id=${file.id}" class="download-archive-file-button button-cursor" data-toggle="modal" data-target="#downloadFileModal">Pobierz plik</a></td>
            </tr>
            </tbody>
        </table>
        <nav aria-label="...">
            <ul class="pager">
                <li><a class="pagination-button pagination-archive-files-button" th:attr="data-page=${previousPage}" th:classappend="${blockPreviousPage == true}?disabled" >Poprzednie</a></li>
                <li><a class="pagination-button pagination-archive-files-button" th:attr="data-page=${nextPage}" th:classappend="${blockNextPage == true}?disabled" >Następne</a></li>
            </ul>
        </nav>
        <div class="modal fade" id="downloadFileModal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Pobieranie pliku</h4>
                    </div>
                    <div class="modal-body">
                        <p>Czy na pewno chcesz pobrać plik ?</p>
                        <button id="accept-download-archive-file-button" type="button" class="btn btn-primary">Pobierz</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Anuluj</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>