.cld-main{
  width: 600px;
}
.cld-main a{
  color: #0080FF;
  display: block;
}
.cld-main svg{
  fill: #0080FF;
}
.cld-datetime{
  position: relative;
  width: 66%;
  min-width: 100px;
  max-width: 300px;
  margin: auto;
  overflow: hidden;
}
.cld-datetime .today{
  position: relative;
  float: left;
  width: calc(100% - 40px);
  margin: auto;
  text-align: center;
}
.cld-nav{
  position: relative;
  width: 20px;
  height: 20px;
  margin-top: 2px;
}
.cld-nav:hover{
  cursor: pointer;
}
.cld-nav:hover svg{
    fill: #005EFF;
}
.cld-rwd{
  float: left;
}
.cld-fwd{
  float: right;
}
.cld-nav svg:hover{

}
.cld-labels, .cld-days{
  padding-left: 0;
}
.cld-label, .cld-day{
  box-sizing: border-box;
  display: inline-block;
  width: 14.28%;
  text-align: center;
}
.cld-day{
  border: 1px solid #eee;
}
.cld-day.today .cld-number{
  background: rgba(0, 128, 255, 0.69);
  color: rgb(255, 255, 255);
}

.cld-day.today .cld-number:hover{
  background: rgba(0, 128, 255, 0.35);
  color: rgb(255, 255, 255);
}
.cld-day.disableDay{
  opacity: 0.5;
}
.cld-day.nextMonth, .cld-day.prevMonth{
  opacity: 0.33;
}
.cld-number{
  position: relative;
  margin: 0;
  padding: 10px;
}
.cld-title{
  position: absolute;
  z-index: 5;
  display: none;
  top: 35px;
  left: 0;
  padding: 5px 10px;
  background: #fff;
  white-space: nowrap;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 12px;
}
.cld-number:hover .cld-title{
  display: block;
}
.cld-title::before{
  content: '';
  position: absolute;
  top: -7.5px; left: 10px;
  width: 0;
  height: 0;
  border-left: 7.5px solid transparent;
  border-right: 7.5px solid transparent;

  border-bottom: 7.5px solid #ccc;
}
.cld-number.eventday{
  font-weight: bold;
  color: rgba(255, 61, 60, 0.87);
}

.today .cld-number:hover{
  cursor: pointer;
  background: rgba(0, 29, 255, 0.62);
}
.currMonth .cld-number:hover{
  cursor: pointer;
  background: #eee;
}
.today .cld-number.eventday :hover{
  cursor: pointer;
  background: rgba(0, 29, 255, 0.62);
}



.currMonth.clicked .cld-number{
  background: #cecece;
}

.currMonth.today.clicked .cld-number{
  background: #144ddd;
}
