<!DOCTYPE html>
<html  xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Virtual Deanery</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="/css/administrator/main.css" type="text/css"/>
    <link rel="stylesheet" href="/css/font-awesome.min.css" type="text/css"/>
    <script src="/js/jquery-3.2.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/administrator/script.js"></script>
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarSupportedContent" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand white-font-colour" href="/admin">Virtual Deanery</a>
        </div>
        <div class="navbar-collapse collapse"  id="navbarSupportedContent">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Użytkownicy <span class="caret"></span></a>
                    <ul class="dropdown-menu nav-selector">
                        <li><a href="/admin/users">Przeglądaj</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="/admin/user">Dodaj</a></li>
                    </ul>
                </li>
                <li><a href="/admin/groups">Grupy</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Pliki <span class="caret"></span></a>
                    <ul class="dropdown-menu nav-selector">
                        <li><a href="/admin/files">Akceptacja plików</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="/admin/files/form">Wzory/pisma</a></li>
                        <li><a href="/admin/files/archive">Archiwum</a></li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span th:text="${#httpServletRequest.session.getAttribute('logged-user-login') +' '}"></span><span class="caret"></span></a>
                    <ul class="dropdown-menu nav-selector">
                        <li><a href="/admin/account">Konto użytkownika</a></li>
                        <li><a href="/admin/mail">Skrzynka odbiorcza</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="/logout">Wyloguj się</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <legend>Pliki oczekujące</legend>
    <div id="success-download-temporary-file-popup" class="alert alert-success hide" role="alert">
        Udało się pobrać plik
    </div>
    <div id="error-download-temporary-file-popup" class="alert alert-danger hide" role="alert">
       Nie udało się pobrać pliku
    </div>
    <div id="success-accept-temporary-file-popup" class="alert alert-success hide" role="alert">
        Zaakceptowałeś plik
    </div>
    <div id="success-reject-temporary-file-popup" class="alert alert-success hide" role="alert">
        Odrzuciłeś plik
    </div>
    <div id="error-accept-temporary-file-popup" class="alert alert-danger hide" role="alert">
        Nie udało się zaakceptować pliku
    </div>
    <div id="error-accept-temporary-file-with-name-popup" class="alert alert-danger hide" role="alert">
        Nie udało się zaakceptować pliku - nazwa pliku już występuje w danym repozytorium
    </div>
    <div id="error-reject-temporary-file-popup" class="alert alert-danger hide" role="alert">
        Nie udało się odrzucić pliku
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">Pliki</div>
        <table class="table table-hover">
            <thead>
            <tr>
                <th class="text-cursor">Nazwa pliku</th>
                <th class="text-cursor">Rozmiar pliku(MB)</th>
                <th class="text-cursor">Typ rozszerzenia</th>
                <th class="text-cursor">Typ pliku</th>
                <th class="text-cursor">Pobierz</th>
                <th class="text-cursor">Zatwierdź</th>
                <th class="text-cursor">Odrzuć</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="file : ${files}">
                <td class="col-md-3 text-cursor" th:text="${file.fileName}"></td>
                <td class="col-md-2 text-cursor" th:text="${file.fileSize}"></td>
                <td class="col-md-2 text-cursor" th:text="${file.fileExtensionType}"></td>
                <td class="col-md-2 text-cursor" th:if="${file.fileType} == 'FORM'">Wzory/Pisma</td>
                <td class="col-md-2 text-cursor" th:if="${file.fileType} == 'ARCHIVE'">Archiwum</td>
                <td class="col-md-1"><a th:attr="data-id=${file.id}" class="download-temporary-file-button button-cursor" data-toggle="modal" data-target="#downloadTemporaryFileModal">Pobierz plik</a></td>
                <td class="col-md-1" ><a th:attr="data-id=${file.id}" class="accept-temporary-file-button button-cursor" data-toggle="modal" data-target="#acceptTemporaryFileModal">Zatwierdź</a></td>
                <td class="col-md-1" ><a th:attr="data-id=${file.id}" class="reject-temporary-file-button button-cursor" data-toggle="modal" data-target="#rejectTemporaryFileModal">Odrzuć</a></td>
            </tr>
            </tbody>
        </table>
        <nav aria-label="...">
            <ul class="pager">
                <li><a class="pagination-button pagination-temporary-file-button" th:attr="data-page=${previousPage}" th:classappend="${blockPreviousPage == true}?disabled" >Poprzednie</a></li>
                <li><a class="pagination-button pagination-temporary-file-button" th:attr="data-page=${nextPage}" th:classappend="${blockNextPage == true}?disabled" >Następne</a></li>
            </ul>
        </nav>
        <div class="modal fade" id="downloadTemporaryFileModal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Pobieranie pliku</h4>
                    </div>
                    <div class="modal-body">
                        <p>Czy na pewno chcesz pobrać plik ?</p>
                        <button id="accept-download-temporary-file-button" type="button" class="btn btn-primary">Pobierz</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Anuluj</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="acceptTemporaryFileModal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Plik do zatwierdzenia</h4>
                    </div>
                    <div class="modal-body">
                        <p>Czy na pewno chcesz zatwierdzić plik ?</p>
                        <button id="accept-accept-temporary-file-button" type="button" class="btn btn-primary">Zatwierdź</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Anuluj</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="rejectTemporaryFileModal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Plik do odrzucenia</h4>
                    </div>
                    <div class="modal-body">
                        <p>Czy na pewno chcesz odrzucić plik ?</p>
                        <button id="accept-reject-temporary-file-button" type="button" class="btn btn-primary">Odrzuć</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Anuluj</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>